.cell{
  width: 25px;
  height: 25px;
  background-color: orange;
  /*display: inline-block;*/
  float: left;
  border-style: inset;

}

.container{
  width: 625px;
  height: 625px;
  margin: auto;
}

.active{
background-color: blue;
}

.head{
  background-color: white;
}
.snakebody{
background-color: pink;
}
