.hover:hover{
  color: #ecc3c3;
}
.column-item{
  font-style: oblique;
  position: relative;
  vertical-align: bottom;
  width: 200px;
  height: 20px;
  color: white;
  margin-left: 0px;
  font-weight: bold;
  margin-right: 10px;
  font-size: 17px;
  border: inset;
}
.tooLong{
  font-style: oblique;
  position: relative;
  vertical-align: bottom;
  width: 200px;
  height: 40px;
  color: white;
  margin-left: 0px;
  font-weight: bold;
  margin-right: 10px;
  font-size: 17px;
  border: inset;

}

.column{
  float: left;
  position: relative;
  vertical-align: bottom;
  width: 200px;
  height: 20px;
  color: black;
  font-weight: bold;
  margin-right: 10px;
  cursor: pointer;
  padding-left: 3%;
  padding-right: 5%;
}
#favorites{
width: 200px;
height: 500px;
font-weight: bold;
}

#starship{
  width: 200px;
  height: 500px;
  font-weight: bold;
}

#film-list{
  width: 200px;
  height: 500px;
  font-weight: bold;
}

#pilot{
width: 200px;
height: 500px;
}

h2{

  color: white;
  font-style: oblique;
}

p{
  color: white;
  margin-left: 20px;
  font-size: 14px;
}

button{
  float: right;
}
